<div class="container">
	<div class="row">
		<h2>管理者ホーム画面</h2>
			<table class="table table-striped">
				<tr>
					<td><%= link_to "ユーザー情報編集", endusers_path %></td>
				</tr>
				<tr>
					<td><%= link_to "施設情報編集", admin_facility_path %></td>
				</tr>
				<tr>
					<td><%= link_to "新規施設追加", new_facility_path %></td>
				</tr>
			</table>
	</div>
</div>