<div class="nested-fields">
	<div class="form-group">
		<div class="room_add_image">
			<h4>部屋画像追加</h4>
			<%= f.attachment_field :image, multiple: true %>
			<%= link_to_remove_association "部屋画像削除する", f %>
		</div>
	</div>
</div>

