// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// facilities new //
.facility_add_image{
	padding: 5px 5px;
    margin-bottom: 5px;
    font-weight: bold;
    border: solid 1px #000000;
}

.room_add_image{
	padding: 5px 5px;
    margin-bottom: 5px;
    font-weight: bold;
    border: solid 1px #000000;
}

.input-mysize-explanation{
  	width: 600px;
  	height: 250px !important;
}

//

// facilities index //

.search-item{
	height: 100%;
}

.result-search .facility-image-index{
	padding: 0;
}

.result-search{
	padding-bottom: 50px;
	height: 400px;
}

.index-title{
	font-family: serif;
	padding: 20px 0;
}

.facility-image-item{
	width: 100%;
	height: 350px;
	background-position: center;
}

.facility-info-index{
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
}

.facility-name-index{
	color: #000000;
	font-family: serif;
}

.price{
	font-family: serif;
}

.facility-price-index{
	font-family: serif;

}

.facility-details{
	padding: 20px 0;
}

.link-details{
	display: inline-block;
  	padding: 0.5em 3em;
  	text-decoration: none;
  	background: #191970;
  	color: #ffffff;
  	border-bottom: solid 4px #627295;
  	border-radius: 3px;
  	font-family: serif;
}

// facilities home //

.home-search{
	font-family: serif;
}

.home-area{
	width: 	100%;
	padding: 0;
	margin: none;
}

.home-field{
	width: 100%;
	height: 400px;
	padding-bottom: 30px;
}

.center-image{
	width: 100%;
	height: 100%;
	background-position: center;
}

.selections{
	text-align: center;
	font-family: serif;
	padding: 30px 0;
}

.features-item{
	width: 50%;
	float: left;
	padding-bottom: 20px;
}


// facility index //
.facility-list{
	padding-top: 30px;
	text-align: center;
}

.facility-list-in{
	margin: 0 ;
	padding: 0 ;
}

.facility-list-item{
	list-style: none;
	display: inline-block;
	width: 10%;
	min-width: 90px;
	font-family: serif;
}

.facility-list-item:not(:last-child){
	border-right:2px solid #ddd;
}

.facility-list a{
	text-decoration: none;
	color: #333;
}

.facility-list a.current{
	color: #a52a2a;
	border-bottom:2px solid #a52a2a;
}

.facility-list a:hover{
	color: #a52a2a;
	border-bottom:2px solid #a52a2a;
}

.facility-show-title{
	font-family: serif;
}

#map{
	height: 200px;
	width: 200px;
}

.feature-input{
	font-family: serif;
}

// facility show //

#facility-characteristic{
	font-family: serif;
	padding-top: 20px;
}

.information-table{
	width: 100%;
}

.information-table-item{
	width: 100%;
}

.facility-information{
	font-family: serif;
	padding-top: 15px;
}

.infromation-title{
	padding: 20px 0 5px 0;
}
.information-item{
	padding-bottom: 10px;
	border-bottom: 1px solid #efefef;
}

.bx-wrapper{
	width: 100%;
}


.link-modal{
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: #337ab7;
  font-family: serif;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #696969;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 80%;
  height: 600px;
  padding-top: 70px;
  margin: auto;
  background: #fff;
  border-radius: 5px;
}

.modal .modal-item {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px;
}

.modal-item{
	z-index: 3;
}

.modal .close {
  text-align: center;
}

.room-box-item{
	border-bottom: 1px solid #efefef;
	padding: 10px 0;
	height: 130px;
}

#room-information-title{
	font-family: serif;
	padding-bottom: 20px;
}

.explanation{
	font-family: serif;
}

.show-room-plan{
	font-family: serif;
}